/* Conteneur principal de la page */
.product-details-page {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

/* Style du bouton Retour */
.back-button {
    background: linear-gradient(135deg, #f07bff, #e07bff);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    left: 20px;
    top: 500px;
    transition: 0.3s;
    z-index: 9999;
}

/* Réduction de la taille du bouton */
.back-button:hover {
    background: linear-gradient(135deg, #e07bff, #f07bff);
    transform: translateY(-2px);
}

.back-button:focus {
    outline: none;
}

/* Conteneur des informations du produit et image */
.product-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

/* Réduire la taille de l'image du produit */
.product-image {
    width: 40%;  /* Réduire la largeur de l'image à 40% */
    height: auto;
    object-fit: cover;
    margin-right: 20px;
}

/* Conteneur des informations du produit */
.product-info {
    width: 55%;
    text-align: left;
}

.product-info h2 {
    font-size: 22px; /* Réduire la taille du titre */
    margin-bottom: 20px;
}

.product-info p {
    font-size: 14px; /* Réduire la taille du texte */
    margin-bottom: 10px;
}

/* Style pour le bouton "Ajouter au panier" */
.add-to-cart-btn {
    background: linear-gradient(135deg, #f07bff, #e07bff);
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 150px;
    width: auto;
    transition: 0.3s;
}

.add-to-cart-btn:hover {
    background: linear-gradient(135deg, #e07bff, #f07bff);
    transform: translateY(-2px);
}

.add-to-cart-btn:focus {
    outline: none;
}
